<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="conn" connectionString="Data Source=MSI;Initial Catalog=DTDVHv1;Integrated Security=True" />
	</connectionStrings>
</configuration>